@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

@font-face {
  font-family: ReadexPro;
  src: url("ReadexPro-Light.ttf") format("truetype");
}

:root {
  --black-coffee: #38302e;
  --dim-gray: #8d80a290;
  --dim-gray-visible: #8d80a2;
  --black: #333;
  --light-color: #666;
  --box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.5);
  --white: #ebebeb;
  --ultra-white: #fff;
  --grey: #eee;
  --red: #a41f66;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "ReadexPro", "Roboto", sans-serif, Verdana, Geneva, Tahoma,
    sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
  min-height: 100vh;
  background: var(--white);
}

/*************** header and navbar ***************/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  padding: 2rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.scrollbar {
  background: var(--black);
}

.header-icon-container {
  border: solid var(--white) 5px;
  padding: 1rem;
}

header .logo {
  color: var(--white);
  font-size: 3rem;
  font-weight: bolder;
}

header .logo i {
  color: var(--red);
  font-weight: bolder;
  font-size: 6rem;
}

header .navbar a {
  font-size: 2.5rem;
  padding: 0.5rem 2rem;
  color: var(--white);
}

header .navbar a.active,
header .navbar a:hover {
  color: var(--white);
  background: var(--red);
}

header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--red);
  border-radius: 50%;
  background: var(--grey);
}

header .icons i:hover,
header .icons a:hover {
  color: var(--white);
  background: var(--red);
  transform: rotate(360deg);
}

header .icons #menu-bars {
  display: none;
}
/*************** header and navbar end ***************/

/*************** main ***************/
.main-page {
  display: block;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #20202070),
    url(../images/cafe3.jpg) no-repeat center center;
  background-size: cover;
  background-origin: content-box;
  position: relative;
  clip-path: url(#myCurve);
}

.main-header-text {
  position: absolute;
  font-weight: 900;
  font-size: 1.5em;
  border: solid 3px var(--white);
  padding: 1em;
  color: var(--grey);
  top: 45%;
  left: 5%;
}

.main-header-text > h1 {
  font-size: 5em;
}

.main-header-text > p {
  font-size: 2rem;
  color: var(--grey);
}

.main-form-input {
  border: 3px solid var(--white);
  background-color: transparent;
  margin: 1em;
  font-family: "Open Sans", sans-serif;
  width: calc(100% - 200px);
  font-size: 1em;
  padding: 11px 12px;
  color: var(--white);
  font-style: normal;
}

#main-form {
  margin: 0em;
}

#main-form > label {
  font-size: 2rem;
  margin-bottom: 2px;
}

::placeholder {
  color: var(--white);
  opacity: 1;
}

.main-btn {
  margin-top: 1rem;
  background: var(--red);
  color: var(--white);
  border: none;
  padding: 1.5rem 3.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.main-btn:hover {
  background: var(--white);
  color: var(--red);
}
/*************** main end ***************/

/*************** card ***************/
.card-container {
  width: 80%;
  height: auto;
  align-self: center;
  justify-self: center;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  background: var(--ultra-white);
}

.card-imgBx {
  width: 100%;
  height: auto;
}

.card-images {
  width: 100%;
  clip-path: url(#myCurve);
}

.card-content {
  font-size: 1.5rem;
  padding: 1rem;
  color: var(--light-color);
  width: 70%;
}

.card-content > * {
  margin: 10px;
  color: var(--black);
}

.card-content-container {
  display: flex;
  width: fit-content;
}

.card-container:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.card--icons {
  font-size: 3em;
  line-height: 10rem;
  color: var(--black);
}

:is(.card--icons) a {
  font-size: 1em;
  line-height: 10rem;
  color: var(--red);
}
/*************** card end ***************/

/*************** figure and text ***************/
.responsive-img {
  width: 95%;
  max-height: auto;
  align-self: center;
  justify-self: center;
  margin: 2em;
}

#figure-text-left,
#figure-text-right {
  padding: 2rem;
  background: var(--red);
  height: fit-content;
  color: var(--white);
  margin: 2em;
  width: 95%;
}

.figure-text-head {
  padding: 5%;
  color: var(--white);
  line-height: 1.75;
  font-size: 3em;
}

.figure-text {
  padding: 0% 5% 5%;
  color: var(--white);
  line-height: 3rem;
  font-size: 1.75em;
}

#figure-left {
  grid-area: picture-left;
}

#figure-text-right {
  grid-area: text-right;
}

#figure-right {
  grid-area: picture-right;
}

#figure-text-left {
  grid-area: text-left;
}
/*************** figure and text end ***************/

/*************** footer ***************/
.footer-container {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #20202070),
    url(../images/footer2.jpg) no-repeat center center;
  background-size: cover;
  background-origin: content-box;
  width: 100%;
  max-width: 100;
  padding: 2em 0em;
}

.footer-list-item {
  line-height: 1.75;
  font-size: 1.5em;
  color: var(--white);
  flex-basis: 100%;
  text-align: left;
  margin: 5%;
}

table {
  width: 100%;
  white-space: nowrap;
  white-space: pre;
}

td {
  padding-right: 1em;
}
/*************** footer end ***************/

/*************** about ***************/
.main-story-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  margin-top: 15em;
}

.main-text {
  padding-top: 10em;
  margin-bottom: 10em;
}

.main--story--text {
  white-space: pre-wrap;
  color: black;
  font-size: 3rem;
  line-height: 1.75em;
}

.main--story--picture {
  height: 143vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #20202070),
    url(../images/food.jpg) no-repeat center center;
  background-size: cover;
  background-origin: content-box;
  width: 100%;
}

.main--story--heading {
  padding-top: 3em;
  font-size: 4em;
}
/*************** about end ***************/

/*************** media queries ***************/

/*************** grid layout ***************/
@media (min-width: 769px) {
  #page-grid {
    margin-top: -15rem;
    display: grid;
    width: 100%;
    grid-template-areas:
      "main  main main main"
      "article1 article2 article3 article4"
      "picture-left picture-left text-right text-right"
      "text-left text-left picture-right picture-right"
      "foot foot foot foot";
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1fr;
  }

  #page-grid > article:nth-of-type(1) {
    grid-area: article1;
  }

  #page-grid > article:nth-of-type(2) {
    grid-area: article2;
  }

  #page-grid > article:nth-of-type(3) {
    grid-area: article3;
  }

  #page-grid > article:nth-of-type(4) {
    grid-area: article4;
  }

  #page-grid > main {
    grid-area: main;
  }

  #page-grid > footer {
    grid-area: foot;
  }

  /* #figure-text-left,
  #figure-text-right {
    height: fit-content;
    width: 95%;
  } */
}
/*************** grid layout end ***************/

/*************** header and navbar ***************/
@media (max-width: 769px) {
  html {
    font-size: 50%;
  }

  header {
    padding: 1rem 2rem;
  }

  header .icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: var(--black-coffee);
  }

  .main-header-text {
    left: 0;
  }

  .card-container {
    width: 80%;
    height: auto;
    align-self: center;
    justify-self: center;
    box-shadow: var(--box-shadow);
    margin-bottom: 4em;
  }

  .footer-container {
    display: block;
  }

  .footer-list-item {
    margin-bottom: 20px;
  }

  #text-left,
  #text-right {
    width: 100%;
    margin: 0;
  }
}
/*************** header and navbar ***************/

/*************** card ***************/
@media (max-width: 769px) {
  #page-grid > article:nth-of-type(1) {
    width: 100%;
  }

  #page-grid > article:nth-of-type(2) {
    width: 100%;
  }

  #page-grid > article:nth-of-type(3) {
    width: 100%;
  }

  #page-grid > article:nth-of-type(4) {
    width: 100%;
  }
}
/*************** card end ***************/
