@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

@font-face {
  font-family: ReadexPro;
  src: url("ReadexPro-Light.ttf") format("truetype");
}
:root {
  --black-coffee: #38302e;
  --dim-gray: #8d80a290;
  --dim-gray-visible: #8d80a2;
  --black: #333;
  --light-color: #666;
  --box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.5);
  --white: #ebebeb;
  --grey: #eee;
  --red: #a41f66;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* line-height: 1.75px; */
  font-family: "ReadexPro", "Roboto", sans-serif, Verdana, Geneva, Tahoma,
    sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  /* text-transform: capitalize; */
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
  min-height: 100vh;
  background: var(--white);
}

/*************start header and navbar *************/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  padding: 2rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  /* box-shadow: var(--box-shadow); */
}

.scrollbar {
  background: var(--black);
}

.header-icon-container {
  border: solid var(--white) 5px;

  padding: 1rem;
}
header .logo {
  color: var(--white);
  font-size: 3rem;
  font-weight: bolder;
}

header .logo i {
  color: var(--red);
  font-weight: bolder;
  font-size: 6rem;
}

header .navbar a {
  font-size: 2.5rem;
  /* border-radius: 0.5rem; */
  padding: 0.5rem 2rem;
  color: var(--white);
}

header .navbar a.active,
header .navbar a:hover {
  color: var(--white);
  background: var(--red);
}

header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--black);
  border-radius: 50%;
  background: var(--grey);
}

header .icons i:hover,
header .icons a:hover {
  color: var(--white);
  background: var(--black-coffee);
  transform: rotate(360deg);
}

header .icons #menu-bars {
  display: none;
}

/*************** end of navbar **************/

/************** main page ************************/

.main-page {
  display: block;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #20202070),
    url(../images/cafe3.jpg) no-repeat center center;
  background-size: cover;
  background-origin: content-box;
  position: relative;
  clip-path: url(#myCurve);
}

.main-header-text {
  position: absolute;
  font-weight: 900;
  font-size: 1.5em;
  border: solid 3px var(--white);
  padding: 1em;

  color: #eee;
  top: 45%;
  left: 5%;
}

.main-header-text > h1 {
  font-size: 5em;
}

.main-header-text > p {
  font-size: 2rem;
  color: #eee;
}

.main-form-input {
  border: 3px solid #acacac;
  background-color: transparent;
  margin: 1em;
  font-family: "Open Sans", sans-serif;
  width: calc(100% - 200px);
  font-size: 1em;
  padding: 11px 12px;
  color: #bcbcbc;
  font-style: normal;
}

#main-form {
  margin: 0em;
}

#main-form > label {
  font-size: 2rem;
  margin-bottom: 2px;
}

.main-btn {
  margin-top: 1rem;
  background: var(--red);
  color: var(--white);
  border: none;
  padding: 1.5rem 3.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.main-btn:hover {
  background: var(--white);
  color: var(--red);
}
/*************** end of main page *************/

/************ card ************************/
.card-container {
  width: 80%;
  height: auto;
  align-self: center;
  justify-self: center;
  /* border: solid black 2px; */
  box-shadow: var(--box-shadow);
}

.card-imgBx {
  width: 100%;
  height: auto;
  /* border: solid green 2px; */
}
.card-images {
  width: 100%;
}

.card-content {
  font-size: 1.5rem;
  padding: 1rem;
  color: var(--black);
  width: 70%;
}

.card-container:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

/************* footer ************/
.footer-container {
  display: flex;
  background: var(--black);
  padding: 5%;
}

.footer-list-item {
  font-size: 3em;
  color: var(--white);
  padding: 2em;
}

/******************* footer ******************/
/************************ card end ****************************/

/*********************************** media queries **************************/

/******************** picture and text ******************************/

@media (max-width: 780px) {
  html {
    font-size: 50%;
  }

  header {
    padding: 1rem 2rem;
  }

  header .icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--black);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: var(--black-coffee);
  }

  .footer-container {
    display: block;
  }
}

/* .main-header-text {
  position: absolute;
  font-weight: 900;
  font-size: 1.5em;
  border: solid 3px var(--white);
  padding: 1em;

  color: #eee;
  top: 50%;
  left: 0;
} */
/*************end of header and navbar***************/

/********************* grid layout *****************/

@media (min-width: 769px) {
  #page {
    margin-top: -15rem;
    display: grid;
    width: 100%;
    /* height: 100vh; */

    grid-template-areas:
      "main  main main main"
      "article1 article2 article3 article4"
      "picture-left picture-left text-right text-right"
      "text-left text-left picture-right picture-right"
      "foot foot foot foot";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    /* column-gap: em; */
    row-gap: 1fr;
  }

  #page > article:nth-of-type(1) {
    grid-area: article1;
    /* margin-left: 10em; */
  }

  #page > article:nth-of-type(2) {
    grid-area: article2;
  }

  #page > article:nth-of-type(3) {
    grid-area: article3;
  }

  #page > article:nth-of-type(4) {
    grid-area: article4;
  }

  #page > main {
    grid-area: main;
  }

  #page > footer {
    grid-area: foot;
  }
}

@media (max-width: 769px) {
  #page > article:nth-of-type(1) {
    grid-area: article2;
    width: 100%;
  }

  #page > article:nth-of-type(2) {
    grid-area: article2;
    width: 100%;
  }

  #page > article:nth-of-type(3) {
    grid-area: article3;
    width: 100%;
  }

  #page > article:nth-of-type(4) {
    grid-area: article4;
    width: 100%;
  }

  #page > main {
    grid-area: main;
  }

  #page > footer {
    grid-area: foot;
  }
}

/*********************** grid layout end ******************/

@media (min-width: 361px) {
  .responsive-img {
    /* object-fit: contain; */
    width: 100%;
    max-height: auto;
    align-self: center;
    justify-self: center;
    /* margin: 0; */
    /* padding: 2rem; */
  }

  #picture-left {
    grid-area: picture-left;
    /*   align-self: center; */
    justify-self: center;
    width: 100%;
  }

  #text-right {
    grid-area: text-right;
    /* padding: 2rem; */
    width: 70%;
    margin: 0 0 0 2em;
  }

  .picture-text-head {
    font-size: 6rem;
    padding-bottom: 5rem;
  }

  #text-left,
  #text-right {
    padding: 2rem;
  }

  .picture-text {
    font-size: 2rem;
  }

  #picture-right {
    grid-area: picture-right;
  }

  #text-left {
    grid-area: text-left;
    padding: 2rem;
    width: 70%;
  }
}
